#h1{
  font-family:Raleway;
  text-align: center;
  text-decoration:2px pink underline dotted;
}
#fd{
  width:200px;
  height:400px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow:0 0 10px #605c5c;
}
#fd1{
  width:180px;
  height:75px;
  border: 1px solid #f7405f;
  border-radius:15px;
  position:absolute;
  top:130px;
  left:15px;
  background-color:#f7405f ;
  box-shadow:0 0 10px #f7405f;
}
#fd2{
  width:180px;
  height:75px;
  border: 1px solid #f7405f;
  border-radius:15px;
  position:absolute;
  top:240px;
  left:15px;
  background-color:#f7405f ;
  box-shadow:0 0 10px #f7405f;
}
#fd3{
  width:180px;
  height:75px;
  border: 1px solid #f7405f;
  border-radius:15px;
  position:absolute;
  top:350px;
  left:15px;
  background-color:#f7405f ;
  box-shadow:0 0 10px #f7405f;
}
#p1{
  font-family:Raleway;
  text-align:center;
  font-size:25px;
  font-weight:bold;
  color:white;
}
#p2{
  font-family:Raleway;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  color:white;
  }
#p3{
  font-family:Raleway;
  text-align:center;
  font-size:25px;
  font-weight:bold;
  color:white;
}
#cert{
  position:absolute;
  left:30%;
  top:80px;
  height:800px;
  width:605px;
  border:1px solid white;
  box-shadow:0 0 10px #605c5c;
}
#fh1{
  text-align:center;
  color:#ff7300;
  position:absolute;
  left:77%;
}
h2{
  font-size:20px;
  color:#ee3f5c;
  position:absolute;
  left:80%;
  top:80px;
  font-family:Raleway;
  font-weight:bold;
  text-decoration:2px black underline dotted;
}
#fd1:hover{
  background-color:#550714;
}
#fd3:hover{
  background-color:#550714;
}